/** Selectores **/
:root {
    --blanco: #FFFFFF;
    --oscuro: #333333;
    --primario: #FFFFFF;
    --secundario: #660033;
    --gris: #757575;
}


/** Globales **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

@media (max-width: 426px) {
    html {
        background-color: var(--blanco);
    }
    
    .table-striped{
        display:block;
        overflow-x: auto;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
    }
    .toggle {
        order: 1;
    } 
    .item.button{
        order: 2;
    }
    .item {
        width: 100%;
        text-align: center;
        order: 3;
        display: none;
    }
    .item.active {
        display: block;
    }
    
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* body */
}

.contenedor2 {
    max-width: 110rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.9rem;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

h4 {
    font-size: 1.9rem;
    text-align: left;
    margin-left: 20rem;
}

.imagen {
    max-width: 100%;

}

@media (min-width: 1920px) {
    .imagen {
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
}


/** Utilidades **/
.no-margin {
    margin-top: 1rem;
    margin-bottom: -1rem;
}

@media (max-width: 768px) {
    .no-margin {
        margin-top: 1rem;
        margin-bottom: -1rem;
    }
    
}

@media (max-width: 991px) {
    .no-margin {
        margin-top: 1rem;
        margin-bottom: -1rem;
    }
}

@media (max-width: 1200px) {
    .no-margin {
        margin-top: 1rem;
        margin-bottom: -1rem;
    }
}

.no-padding {
    padding: 0;
}

.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.centrar {
    text-align: center;
}

a .a-color1{
    color: green;
}
a .a-color2{
    color: red;
}

/* Boton */
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:visited {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 480px) {
    .boton {
        width: 100%;
    }
}

.boton:hover {
    background-color: var(--oscuro);
    color: var(--blanco);
    text-decoration: none;
}

.contenedor-btn {
    text-align: center;
    margin-top: 4rem;
}



/** Barra Navegacion **/
.contenedor {
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 1rem;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;

    }
    
}

@media (min-width: 994px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;

    }
    .interior{
        margin-left: 15rem;
        margin-right: 15rem;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    padding: 1.5rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}


/** Convocatoria **/
.convocatoria {
    text-align: justify;
    background-color: var(--blanco);
    margin-top: 3rem;
}

.convocatoria h1 {
    text-align: center;
    color: var(--secundario);
    text-transform: uppercase;
    font-weight: bold;
}

/** Instrucciones **/
.contenedor-img {
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
    position: relative;
    margin-top: 4rem;
    padding-top: 4rem;

}

.contenedor-img h2 {
    text-align: center;
}

.instrucciones {
    background-image: url(/img/fondo\ mid.jpg);
}

@media (min-width: 768px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 7rem;
    }
    .contenedor-img{
        background-image: url(/img/fondo\ mid.jpg);

    }
}

.iconos {
    text-align: center;
}

.iconos p {
    text-align: justify;
}

/* Footer */
.footer {
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 3rem;
    line-height: 4rem;
    font-size: medium;
}

@media (max-width: 767px) {
    .footer {
        margin-top: 45rem;
    }
}

.footer h4 {
    text-align: center;
}


.i-s {
    border: 2px solid var(--secundario);
    border-radius: 27px;
    margin-top: 8rem;
    margin-bottom: 10rem;
    box-shadow: 1px 1px 23px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 23px 0px rgba(0,0,0,0.75);
}

.ctxt{
    margin-bottom: 5rem;
}



/** Slider **/
.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}
@media (max-width: 767px) {
    .slider {
        padding-top: 5rem;
    }
}



.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*///////////////////////////////////////////////////////////////////////*/


  
  /* Menu Button */
  input.jm-menu-btn {
    display: none;
  }
  
  input[type='checkbox'].jm-menu-btn ~ .jm-collapse {
    display: none;
  }
  
  input[type='checkbox']:checked.jm-menu-btn ~ .jm-collapse {
    display: block;
  }
  
  label.jm-menu-btn {
    color: var(--primario);
    cursor: pointer;
    padding: 16px 32px;
  }
  
  
  .jmenu ul,
  .jmenu li {
    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .jmenu a:hover {
    color:var(--secundario);
  }
 
  .jm-icon-menu::before {
    content: '\2630';
    display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
  }
  
  @media (min-width: 768px) {
    
    .jmenu li {
        display: inline-block;
    }
    
    .jmenu a {
      padding: 16px;
    }
    
    .jm-dropdown li a {
      display: flex;
      padding: 8px 16px;
      white-space: nowrap;
    }
 
    
    input.jm-menu-btn,
    label.jm-menu-btn {
      display: none;
    }
    
    input[type='checkbox'].jm-menu-btn ~ .jm-collapse,
    .jm-collapse {
      display: block;
    }
  
  }
  